* {
  font-family: "Roboto", sans-serif;
}

.bg-body-verde {
  background-color: #28a745;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 30px;
  gap: 1em;
}

.card-title {
  font-size: 20px;
  font-weight: 300;
}

.card-text {
  font-size: 16px;
  align-items: left;
  color: #707070;
  font-weight: 300;
}

.card-direction {
  font-size: 13px;
  align-items: left;
  color: #707070;
  font-weight: 300;
}

.card-price {
  display: flex;
  justify-content: end;
  align-items: center;
}

.card-price-before {
  font-size: 16px;
  color: #707070;
  font-weight: 300;
  padding-right: 10px;
}

.card-price-after {
  font-size: 20px;
  color: #28a745;
  font-weight: 500;
}

.form {
  background-color: #28a745;
  padding: 30px;
}

.form-title {
  font-size: 21px;
  text-align: center;
  color: white;
  font-weight: 500;
  padding-bottom: 10px;
}

.form-control {
  font-size: 16px;
  color: #707070;
  font-weight: 300;
}

.footer-margin {
  margin-top: 30px;
}

.p-footer {
  font-size: 16px;
  color: #707070;
  font-weight: 300;
  padding-top: 10px;
}
